:root {
    /* --body-color: #ffffff; */
    --header-link:#212121;
    --header-link-second:#2196F3;
    --link-color:#757575; 
    --second-link-color:#2196F3;
    --tel-color:#757575;
    --extra-tel-color:#2196F3;
    --main-color: #ffffff;
    --main-section:#2F303A;
    --btn-color: #ffffff;
    --btn-back:#2196F3;
    --main-h: #212121;
    --main-text:#757575;
    --about-color:#212121;
    --team-color: #212121;
    --team-name-color: #212121;
    --team-post:#757575;
    --logo-color:#2196F3;
    --second-logo-color: #ffffff;
    --third-logo-color: #212121;
    --footer-back: #2F303A;
    --footer-add: #ffffff;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --line:#ECECEC;
    --services-color:#212121;
    --proposal-color:#757575;
    --port-color:#212121;
    --back-port-color: #F5F4FA;
    --port-btn-hover: #ffffff;
    --port-btn-back:#2196F3;
    --contacts-color:#2196F3;
}


/* header section */



/* Header section end */

/* main section */



/* FEATURES SECTION */

.features_section {
    padding-top: 94px;
}

.features_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.features_item {
    width: 270px;
}

.features_item +.features_item {
    margin-left: 30px;
}

.features_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features_icon_svg {
    width: 70px;
    height: 70px;
}

.main_h {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-h);
}

.main_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-text);
}

/* FEATURES SECTION END */

/* VOCATION SECTION */

.vocation {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--about-color);
    margin-bottom: 50px;
}

.about_list {
    display: flex;
}

.about_item {
    position: relative;
}

.about_item + .about_item {
    margin-left: 30px;
}

.about_text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
    width: 100%;
}

/* VOCATION SECTION END */

/* TEAM SECTION */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team_title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--team-color);
    margin-bottom: 50px;
}

.team_list {
    display: flex;
}

.team_item + .team_item {
    margin-left: 30px;
}

.team_name_item {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--team-name-color);
    margin-bottom: 10px;
}

.team_post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--team-post);
    margin-bottom: 16px;
}

.team_socials_list {
    display: flex;
    justify-content: center;
}

.team_socials_item + .team_socials_item {
    margin-left: 10px;
}

.team_socials_link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_socials_link:hover, 
.team_socials_link:focus {
    background-color: #2196F3;
    color: #ffffff
}

.team_socials_icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* TEAM SECTION END */

/* CLIENTS SECTION */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients_title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--team-color);
    margin-bottom: 50px;
}

.clients_list {
    display: flex;
    justify-content: center;
}

.clients_item + .clients_item {
    margin-left: 30px;
}

.clients_link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover, 
.clients_link:focus {
    border-color: #2196F3;
    color: #2196F3;
}

.clients_icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

/* CLIENTS SECTION END */
/* MAIN SECTION END */
    
/* FOOTER SECTION */
/* FOOTER ADDRESS SECTION */

.footer {
    background-color:var(--footer-back);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer_cont {
    display: flex;
    align-items: baseline; 
}

.footer_logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--logo-color);
    display: block;
    margin-bottom: 20px;
}

.footer_logo_color {
    color:var(--second-logo-color);
}

.address {
    font-style: normal;
}

.address_item:nth-last-child(n + 2) {
    margin-bottom: 9px;
    font-style: normal;
}

.footer_address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--footer-add);
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_address:hover,
.footer_address:focus {
    color: var(--contacts-color);
}

.footer_mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--footer-contacts);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_mail:hover,
.footer_mail:focus {
    color:var(--contacts-color);
}

.footer_tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--footer-contacts);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.footer_tel:hover,
.footer_tel:focus {
    color: var(--contacts-color);
}

/* FOOTER ADDRESS SECTION END */

/* FOOTER SOCIALS */

.footer_socials {
    margin-left: 70px;
}

.footer_socials_title {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer_socials_list {
    display: flex;
}

.footer_socials_item + .footer_socials_item {
    margin-left: 10px;
}

.footer_socials_link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_socials_link:hover, 
.footer_socials_link:focus {
    background-color: #2196F3;
}

.footer_socials_icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.footer_telegram {
    margin-left: 93px;
}

.telegram_title {
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.telegram_sub {
    display: flex;
    align-items: center;
}

.input_email {
    width: 358px;
    height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff
}

.spam_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.spam_icon {
    margin-left: 10px;
}

/* FOOTER SOCIALS END */
/* FOOTER SECTION END */

/* MODAL WINDOW SECTION */

.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: scale(0.5);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    width: 528px;
    min-height: 581px;
    background: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 250ms;
    padding: 40px;
}

.modal_close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
}
    
.modal_close_icon {
    width: 11px;
    height: 11px;
}

.modal_close_icon:hover, 
.modal_close:focus {
    fill: #2196F3;
}

.modal_title {
    color: #212121;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.form_field {
    margin-bottom: 10px;
}

.modal_label {
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.modal_input_wrap {
    position: relative;
}

.modal_input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:focus, 
.modal_input:hover {
    border-color: #2196F3;
}

.modal_input:focus, .modal_input:hover + .modal_icon {
    fill: #2196F3;
}

.modal_icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
}

.modal_text::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.agreement_section {
    display: block;
    margin-bottom: 30px;
}

.modal_check {
    vertical-align: middle;
}

.modal_check:checked + .agreement_text::before {
    background-image: url(../images/icon-check.svg);
    border: none;
}

.modal_check:focus + .agreement_text::before {
    border-color: #2196F3;
}

.agreement_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agreement_text::before {
    content: " ";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: block;
    margin-right: 8px;
}

.agreement_extra {
    color: #2196F3;
    text-decoration: underline;
    padding-left: 5px;
}

.modal_button {
    display: block;
    margin: 0 auto;
    padding: 10px 55px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* MODAL WINDOW SECTION END */






/* PORTFOLIO SECTION */

.main_section_portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.buttons_list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
}

.button_item + .button_item {
    margin-left: 8px;
}

.portfolio_btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:--port-color;
    background-color:var(--back-port-color);
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.portfolio_btn:hover, 
.portfolio_btn:focus {
    color:var(--port-btn-hover);
    background-color:var(--port-btn-back);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grid_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.main_img {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    position: relative;
}

.main_img_link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_img_link:hover,
.main_img_link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main_img_link:focus .main_img_top_text, 
.main_img_link:hover .main_img_top_text {
    transform: translateY(0%);
}

.img_wrap {
    position: relative;
    overflow: hidden;
}

.main_img_top_text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_services_name {
    padding-top: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
    box-sizing: border-box;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
}

.main_services {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color:var(--services-color);
    }

.main_proposal {  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--proposal-color);
}

.grid {
    margin-bottom: 94px;
}


/* PORTFOLIO SECTION END */