:root {
    /* --body-color: #ffffff; */
    --header-link:#212121;
    --header-link-second:#2196F3;
    --link-color:#757575; 
    --second-link-color:#2196F3;
    --tel-color:#757575;
    --extra-tel-color:#2196F3;
    --main-color: #ffffff;
    --main-section:#2F303A;
    --btn-color: #ffffff;
    --btn-back:#2196F3;
    --main-h: #212121;
    --main-text:#757575;
    --about-color:#212121;
    --team-color: #212121;
    --team-name-color: #212121;
    --team-post:#757575;
    --logo-color:#2196F3;
    --second-logo-color: #ffffff;
    --third-logo-color: #212121;
    --footer-back: #2F303A;
    --footer-add: #ffffff;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --line:#ECECEC;
    --services-color:#212121;
    --proposal-color:#757575;
    --port-color:#212121;
    --back-port-color: #F5F4FA;
    --port-btn-hover: #ffffff;
    --port-btn-back:#2196F3;
    --contacts-color:#2196F3;
}